<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Plataforma de Ejercicios</title>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
    <!-- HTMX desde CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>

    <h1>Ejercicios disponibles</h1>

    <button
        hx-get="/exercises"
        hx-trigger="click"
        hx-target="#main-content"
        hx-swap="innerHTML"
        hx-push-url="/exercises"
    >
        Cargar ejercicios
    </button>


    <hr>

    <div id="main-content">
        {% if problem_description %}
            {% include "fragments/exercise_detail.html" %}
        {% elif exercise_groups %}
            {% include "fragments/exercise_list.html" %}
        {% else %}
            <p>Seleccioná un ejercicio para comenzar.</p>
        {% endif %}
    </div>


</body>
</html>
