<h2>Ejercicio</h2>

<p><strong>Categoría:</strong> {{ category_name }}</p>
<p><strong>Función:</strong> {{ function_name }}</p>

<h3>Enunciado</h3>

<pre style="background:#f4f4f4; padding:10px; white-space:pre-wrap;">
{{ problem_description }}
</pre>

<h3>Código</h3>

<form
    hx-post="/exercises/{{ category_name }}/{{ function_name }}/run"
    hx-target="#result"
    hx-swap="innerHTML"
    onsubmit="if (document.getElementById('code-editor')._editorInstance) { document.getElementById('code-editor')._editorInstance.save(); }"
>
<textarea id="code-editor" name="code">{{ function_signature }}</textarea>

    <br><br>

    <button type="submit">
        Ejecutar
    </button>
</form>

<h3>Resultado</h3>
<div id="result"></div>
