<div class="sidebar-navigation">

    {% for category_name, function_names in exercise_groups.items() %}

    <div class="sidebar-category {% if category_name == current_category %}open{% endif %}"
        data-category="{{ category_name }}" data-count="{{ function_names|length }}">

        <button class="sidebar-category-toggle">
            <div class="sidebar-category-header">
                <span>
                    {{ category_titles.get(category_name, category_name|capitalize) }}
                </span>
                <span class="sidebar-category-text">
                    0/{{ function_names|length }}
                </span>
            </div>

            <div class="sidebar-category-progress">
                <div class="sidebar-category-progress-bar"></div>
            </div>
        </button>

        <div class="sidebar-exercises">
            {% for function_name in function_names %}
            <a href="/exercises/{{ category_name }}/{{ function_name }}" class="sidebar-exercise-link
                {% if category_name == current_category and function_name == current_exercise %}active{% endif %}"
                data-category="{{ category_name }}" data-exercise="{{ function_name }}">

                <span class="sidebar-status not-attempted"></span>

                {{ function_name.replace('_',' ')|capitalize }}
            </a>
            {% endfor %}
        </div>

    </div>

    {% endfor %}

</div>

<p>¿Encontraste un error?
    <a href="https://github.com/patr1c1a/plataforma-practica-interactiva/issues/new?template=bug_report.md" target="_blank"
        rel="noopener noreferrer">
        Reportalo acá
    </a>
</p>